---
title: Cosmic Neutrinos Lab at Cal Poly
layout: splash
author_profile: false
header:
  overlay_color: "#000"
  overlay_filter: "0.05"
  overlay_image: "/assets/images/siple_sundog.jpg"
#  cta_label: "Download"
#  cta_url: "https://github.com/mmistakes/minimal-mistakes/"
  caption: "Ice surface at WAIS Divide"
excerpt: "Exploring the extreme universe through particle astrophysics"
intro:
  - excerpt: "Cosmic neutrinos offer a unique window into the high-energy universe, informing both our understandin g of astrophysics and fundamental physics at the highest energy scales. Our goal in the Wissel Lab is to discover the first neutrinos at ultra-high energies, greater than 100 PeV."

  - excerpt: "With the discovery of astrophysical neutrinos and gravitational waves, we have entered into a new era of mutli-messenger astrophysics where combined observations from high-energy neutrinos, gamma rays, cosmic rays, and, soon, gravitational waves can map the complex dynamics of individual astrophysical objects.  Flares, shocks, and other non-thermal processes can accelerate subatomic particles to the highest energies ever observed and neutrinos acan be produced as the byproducts of hadronic acceleration. These messenger neutrinos carry with them information about the dynamics of their accelerator. We can also use these high-energy neutrinos to explore fundamental physics interactions at energies inaccessible to accelerators here on Earth." 

  - excerpt:  "We use radio detection techniques to search for cosmic neutrinos, because they are exceedingly rare events. Neutrinos and cosmic rays generate fast radio sparks when they initiate showers in ice or air. Because air and ice are both radio transparent, the particle showers can be detected from hundreds of kilometers away. Radio techniques allow us to build neutrino telescopes with enormous detector volumes to balance the low flux."
  
feature_row:
  - image_path: assets/images/anita3_inflight2.jpg
    alt: "ANITA-3 after Launch"
    title: "NASA Balloon Payloads"
    excerpt: "The ANITA experiment searches for the highest energy neutrinos and cosmic rays from a NASA long-duration balloon payload.  PUEO is an proposed experiment that would achieve a lower energy threshold and improved sensitivity using a beamformed trigger. The Wissel group leads the ground calibration task, the tau neutrino sensitivity analysis, and accelerator experiments aimed at modelling cosmic ray air showers (T-510)."
  - image_path: /assets/images/beacon_2019.jpg
    alt: "BEACON"
    title: "High Elevation Tau Neutrinos"
    excerpt: "The BEACON experiment is a radio interferometer trained on the horizon to search for Earth-skimming tau neutrinos. Concept study at White Mountain Research Station funded by [NSF CAREER Grant 1752922](https://www.nsf.gov/awardsearch/showAward?AWD_ID=1752922&HistoricalAwards=false)."
  
  - image_path: /assets/images/gno_tent.jpg
    title: "IceCube-Gen2 Radio Pathfinders"
    alt: "First tests of analog phased array in ice"
    excerpt: "The Wissel group works towards developing the next-generation of in-ice radio instruments through the [ARA experiment](https://ara.wipac.wisc.edu) at the South Pole and a new experiment in Greenland. Both serve as pathfinders for the radio instrument for IceCube Gen2. Wissel laid the groundwork for experiments in Greenland through field campaigns and works on antenna design. The Wissel group will deploy the first stations in Greenland in 2020."
#feature_row2:
#  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
#    alt: "placeholder image 2"
#    title: "Placeholder Image Left Aligned"
#    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Left aligned with `type="left"`'
#    url: "#test-link"
#    btn_label: "Read More"
#    btn_class: "btn--primary"
#feature_row3:
#  - image_path: /assets/images/gno_tent.jpg
#    alt: "Phased array development at Greenland"
#    title: "Phased Array Development in Greenland"
#    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Right aligned with `type="right"`'
#    url: "#test-link"
#    btn_label: "Read More"
#    btn_class: "btn--primary"
#feature_row4:
#  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
#    alt: "placeholder image 2"
#    title: "Placeholder Image Center Aligned"
#    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Centered with `type="center"`'
#    url: "#test-link"
#    btn_label: "Read More"
#    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
