---
title: Astroparticle Physics Lab at Cal Poly
layout: splash
author_profile: false
header:
  overlay_color: "#000"
  overlay_filter: "0.05"
  overlay_image: "/assets/images/siple_sundog.jpg"
#  cta_label: "Download"
#  cta_url: "https://github.com/mmistakes/minimal-mistakes/"
  caption: "Ice surface at WAIS Divide"
excerpt: "Exploring the extreme universe through particle astrophysics"
intro: 
  - excerpt: "Cosmic neutrinos offer a unique window into the high-energy universe, informing both our understandin g of astrophysics and fundamental physics at the highest energy scales. Our goal in the Wissel Lab is to discover the first neutrinos at ultra-high energies, greater than 100 PeV.

  With the discovery of astrophysical neutrinos and gravitational waves, we have entered into a new era of mutli-messenger astrophysics.  Flares, shocks, and other non-thermal processes can accelerate subatomic particles to the highest energies ever observed. Neutrinos are produced as the byproducts of hadronic acceleration. These messenger particles carry with them information about the dynamics of their accelerator. We can also use these high-energy neutrinos to explore fundamental physics interactions at energies inaccessible to accelerators here on Earth. 

  We use radio detection techniques to search for these rare particles. Neutrinos and cosmic rays generate fast radio sparks when they initiate showers in ice or air. Because air and ice are both radio transparent, the particle showers can be detected from hundreds of kilometers away."
  
feature_row:
  - image_path: assets/images/anita3_inflight2.jpg
    alt: "ANITA-3 after Launch"
    title: "Ice Experiments"
    excerpt: "ANITA and ARA search for the highest energy neutrinos and cosmic rays produced in the most energetic events in the universe. We work on ground calibration for ANITA and are exploring detector upgrades for ARA."
  - image_path: /assets/images/slac-target.jpg
    alt: "T-510 Experiment at SLAC"
    title: "Accelerator Experiments"
    excerpt: "We calibrate radio emission models through beam-line experiments such as T-510."
  - image_path: /assets/images/gno_tent.jpg
    title: "Future Detector Development"
    alt: "First tests of analog phased array in ice"
    excerpt: "We are developing the next-generation of radio instruments."
#feature_row2:
#  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
#    alt: "placeholder image 2"
#    title: "Placeholder Image Left Aligned"
#    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Left aligned with `type="left"`'
#    url: "#test-link"
#    btn_label: "Read More"
#    btn_class: "btn--primary"
#feature_row3:
#  - image_path: /assets/images/gno_tent.jpg
#    alt: "Phased array development at Greenland"
#    title: "Phased Array Development in Greenland"
#    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Right aligned with `type="right"`'
#    url: "#test-link"
#    btn_label: "Read More"
#    btn_class: "btn--primary"
#feature_row4:
#  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
#    alt: "placeholder image 2"
#    title: "Placeholder Image Center Aligned"
#    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Centered with `type="center"`'
#    url: "#test-link"
#    btn_label: "Read More"
#    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
