---
title: Cosmic Neutrinos Lab
layout: splash
author_profile: false
header:
  overlay_color: "#000"
  overlay_filter: "0.05"
  overlay_image: "/assets/images/siple_sundog.jpg"
#  cta_label: "Download"
#  cta_url: "https://github.com/mmistakes/minimal-mistakes/"
  caption: "Ice surface at WAIS Divide"
excerpt: "Exploring the extreme universe through particle astrophysics"
intro:
  - excerpt: "Cosmic neutrinos offer a unique window into the high-energy universe, informing both our understanding of astrophysics and fundamental physics at the highest energy scales. Our goal in the Wissel Lab is to discover the first neutrinos at ultra-high energies, greater than 100 PeV."

  - excerpt: "With the discovery of astrophysical neutrinos and gravitational waves, we have entered into a new era of mutli-messenger astrophysics where combined observations from high-energy neutrinos, gamma rays, cosmic rays, and, soon, gravitational waves can map the complex dynamics of individual astrophysical objects.  Flares, shocks, and other non-thermal processes can accelerate subatomic particles to the highest energies ever observed and neutrinos acan be produced as the byproducts of hadronic acceleration. These messenger neutrinos carry with them information about the dynamics of their accelerator. We can also use these high-energy neutrinos to explore fundamental physics interactions at energies inaccessible to accelerators here on Earth."

  - excerpt: "We use radio detection techniques to search for cosmic neutrinos, because they are exceedingly rare events. Neutrinos and cosmic rays generate fast radio sparks when they initiate showers in ice or air. Because air and ice are both radio transparent, the particle showers can be detected from hundreds of kilometers away. Radio techniques allow us to build neutrino telescopes with enormous detector volumes to balance the low flux."
  
feature_row:
  - image_path: assets/images/anita3_inflight2.jpg
    alt: "ANITA-3 after Launch"
    title: "NASA Balloon Payloads"
    excerpt: "The [ANITA experiment](https://arxiv.org/abs/0812.1920) searches for the highest energy [neutrinos](https://arxiv.org/abs/1902.04005) and cosmic rays from a NASA long-duration balloon payload. Because it flies at 35-40 km altitudes, ANITA sets the strongest constraints on the neutrino flux at the highest energies. [PUEO](https://pos.sissa.it/358/) is a proposed NASA payload that would achieve a lower energy threshold and improved sensitivity using a beamformed trigger. The Wissel group leads the ground calibration task, the [tau neutrino sensitivity analysis](https://arxiv.org/abs/1811.07261), and accelerator experiments aimed at modelling cosmic ray air showers ([T-510](https://link.aps.org/doi/10.1103/PhysRevLett.116.141103))."
  - image_path: /assets/images/beacon_2019.jpg
    alt: "BEACON"
    title: "High Elevation Tau Neutrinos"
    excerpt: "The [BEACON concept](https://pos.sissa.it/358/1033/) uses a mountaintop radio interferometer to detect upgoing, Earth skimming tau neutrinos. Because the array is on a high mountain (3-4 km), each station pointed at the horizon achieves a large detector area. Because only tau neutrinos are expected to generate such a signal, this detector would allow studies of flavor physics at the highest energies.  The BEACON concept study at White Mountain Research Station is funded by [NSF CAREER Grant 1752922](https://www.nsf.gov/awardsearch/showAward?AWD_ID=1752922&HistoricalAwards=false)."
  
  - image_path: /assets/images/gno_tent.jpg
    title: "IceCube-Gen2 Radio Pathfinders"
    alt: "First tests of analog phased array in ice"
    excerpt: "The Wissel group works towards developing the next-generation of in-ice radio instruments through the [Askaryan Radio Array (ARA) experiment](https://ara.wipac.wisc.edu) at the South Pole and the Radio Neutrino Observatory in Greenland [(RNO-G)](https://arxiv.org/abs/1907.12526). Radio experiments are required for neutrino searches at the highest energies, where the flux is low. at those enregies, sources might show signs of cutoffs or spectral breaks and neutrinos from cosmic rays are expected. Both experiments serve as pathfinders for the radio instrument for IceCube Gen2. Wissel laid the groundwork for experiments in Greenland through [field campaigns](https://doi.org/10.1016/j.nima.2017.07.009). ARA has the largest exposure the highest energies and analysis is underway. The first RNO-G stations will be deployed in Greenland in 2020."
#feature_row2:
#  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
#    alt: "placeholder image 2"
#    title: "Placeholder Image Left Aligned"
#    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Left aligned with `type="left"`'
#    url: "#test-link"
#    btn_label: "Read More"
#    btn_class: "btn--primary"
#feature_row3:
#  - image_path: /assets/images/gno_tent.jpg
#    alt: "Phased array development at Greenland"
#    title: "Phased Array Development in Greenland"
#    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Right aligned with `type="right"`'
#    url: "#test-link"
#    btn_label: "Read More"
#    btn_class: "btn--primary"
#feature_row4:
#  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
#    alt: "placeholder image 2"
#    title: "Placeholder Image Center Aligned"
#    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Centered with `type="center"`'
#    url: "#test-link"
#    btn_label: "Read More"
#    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="left" %}

{% include feature_row %}
